 <%= tag.div  class: "z-10 mr-4 inline-flex items-center align-middle leading-none rounded no-underline text-gray-700 hover:text-gray-800 hover:bg-white" do %>

 <div class="relative" data-controller="dropdown">

    <%# Marks all notifications as read when menu opens by default. Remove the notifications Stimulus actions to disable this. %>
    <%= tag.div class: "inline-block select-none",
      role: "button",
      aria: { label: t("shared.support.support") },
      data: {
        action: "click->notifications#markAllAsRead touch->notifications#markAllAsRead click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide"
      } do %>
      <span class="appearance-none flex items-center inline-block relative text-gray-700 hover:text-gray-500">
        <i class="fad fa-question-circle fa-lg"></i>
      </span>
    <% end %>

    <div data-dropdown-target="menu" class="lg:absolute lg:right-0 mt-2 hidden z-20">

        <div class="bg-white shadow rounded border overflow-hidden sm:w-60 grid " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                <a href="/docs" class="flex items-start dropdown__item" target="_blank">

                  <i class="fas fa-book text-gray-500 mt-1 mr-4 mr-4"></i>
                    <%= t("shared.support.documentation") %>
                </a>
                <a href="/announcements" class="flex items-start dropdown__item" >

                  <i class="fas fa-megaphone text-gray-500 mt-1 mr-3"></i>
                    <%= t("shared.support.whats_new") %>
                </a>
                <a href="https://www.pasilobus.com/support" class="flex items-start dropdown__item" target="_blank">

                  <i class="fas fa-life-ring text-gray-500 mt-1 mr-4"></i>
                         <%= t("shared.support.contact_support") %>
                </a>
            </div>
    </div>

  </div>

 <% end %>

 <%= tag.div  class: "z-10 mr-4 inline-flex items-center align-middle leading-none rounded no-underline text-gray-700 hover:text-gray-800 hover:bg-white" do %>

 <div class="relative" data-controller="dropdown">

    <%# Marks all notifications as read when menu opens by default. Remove the notifications Stimulus actions to disable this. %>
    <%= tag.div class: "inline-block select-none",
      role: "button",
      aria: { label: t("shared.support.support") },
      data: {
        action: "click->notifications#markAllAsRead touch->notifications#markAllAsRead click->dropdown#toggle click@window->dropdown#hide touch->dropdown#toggle touch@window->dropdown#hide"
      } do %>
      <span class="appearance-none flex items-center inline-block relative text-gray-700 hover:text-gray-500">
        <i class="fad fa-grid-2 fa-lg"></i>
      </span>
    <% end %>

    <div data-dropdown-target="menu" class="lg:absolute lg:right-0 mt-2 hidden z-20">

        <div class="bg-white shadow rounded border overflow-hidden sm:w-60 grid " role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
             <p class="p-2 text-gray-400 font-semibold text-sm border-b text-center">More from Pasilobus</p>
                <a href="https://www.comity.app" class="flex items-center justify-start dropdown__item font-bold" target="_blank">
                    <span class="w-6 mr-2">
                    <i class="fak fa-comity fa-lg"></i>
                    </span>
                    Comity
                </a>
                <a href="https://www.cybarmor.app" class="flex items-center justify-start dropdown__item font-bold" target="_blank">
                    <span class="w-6 mr-2 flex justify-center">
                    <i class="fak fa-cybarmor fa-lg"></i>
                    </span>
         
                    Cybarmor
                </a>
                <a href="https://www.elixirxr.app" class="flex items-center justify-start dropdown__item font-bold" target="_blank">

                   <span class="w-6 mr-2 flex justify-center">
                    <i class="fak fa-elixirxr fa-lg"></i> 
                    </span>
                    ElixirXR
                </a>
                <a href="https://www.offerbox.app" class="flex items-center justify-start dropdown__item font-bold" target="_blank">

                    <span class="w-6 mr-2 flex justify-center">
                    <i class="fak fa-offerbox fa-lg"></i>
                    </span>
                    Offerbox
                </a>
                <hr class="mt-2">
                <a href="https://www.pasilobus.com" class="py-2 flex items-center justify-between dropdown__item font-bold" target="_blank">
                    <div class="flex items-center">
                    <span class="w-6 mr-2 flex justify-center">
                    <i class="fak fa-pasilobus fa-lg"></i>
                    </span>
                    Pasilobus Cloud  
                    </div>
                
                    <i class="fad fa-external-link"></i>
                </a>
            </div>
    </div>

  </div>

 <% end %>